{
    "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 5 versions",
            "IE >= 9"
          ]
        },
        "useBuiltIns": true
      }
    ]
  ]
}